body {
    margin-top: 60px !important;
    background-color: #f0f0f0;
}

.ln {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 12px;
}

h1 {
    font-size: 36px;
    text-align: center;
    border-bottom-width: 5px;
    border-bottom: solid;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

a {
    display: inline-block;
}

a.link {
    font-size: 32px;
    margin: 24px;
}

a.link:hover {
    font-size: 42px;
    color: orange;
}

#leaderboard-table tr:hover {
    background-color: lightyellow;
}

/* I added this to provide some animation to the home screen. This code's purpose is to slightly elevate each ui card when hovered over. */
.ui.horizontal.equal.width.segments:hover {
    border: 1px solid transparent;  /* Set a transparent border initially */
}

.ui.segment {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
}

.ui.segment:hover {
    opacity: 1;
    transform: translateY(20px);
}

.page {
    margin: 5px;
}

.page:hover {
    font-size: 16px;
    margin: 1px;
}

.login {
    text-align: right !important;
}

/* Dropdown option */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #555;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    right: 0;
    top: 40px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #fff;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #777;
}

/* Add styling for the coin icon and balance */
#coin {
    margin-right: 5px; /* Adjust spacing between coin icon and balance */
}

/*ad space*/
.ad-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px;
    border-radius: 5px;
}

.ad {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ad1 {
    width: auto;
}

.ad2 {
    width: 25%;
    height: auto;
    position: absolute;
}

.ad3 {
    width: 25%;
}

/*login page styles*/

.login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
}

#forgot-password-btn {
    display: block;
    margin-top: 10px;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}

#forgot-password-btn:hover {
    text-decoration: underline;
}

#sign-up-btn {
    display: block;
    margin-top: 10px;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}

#sign-up-btn:hover {
    text-decoration: underline;
}

/*sign up pg*/

.signup-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
/*profile pics*/
.avatar-options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.avatar-option {
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.avatar-option object {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.avatar-option object:hover {
    border-color: blue;
}

.avatar-option.selected object {
    border-color: blue;
}

#avatar-input {
    display: none;
}

#avatar-label {
    margin-bottom: 10px;
}

/* For profile.html */

.profile-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-info .info-item {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; /* Light gray background */
}

.profile-info .info-item .header {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333; /* Dark gray text */
}

.profile-info .info-item .content {
    color: #666666; /* Gray text */
}

/* for the store pgea */
.store-container {
    margin: 20px;
    text-align: center;
}

.store-item {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.item-image img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.item-details {
    margin-top: 10px;
}

.item-details h3 {
    margin-bottom: 5px;
}

.storeAddButton {
    width: 50%;
}

/* For cart */
.main-cart-container {
    max-width: 500px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Cart Item Styling */
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.cart-item img {
    margin-right: 20px;
}
  
.cart-item p {
    margin: 0;
}
  
/* Empty Cart Message Styling */
.empty-cart-message {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
  
/* Checkout Button Styling */
#cartBuyButton, #cartEmptyButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
#cartBuyButton:hover, #cartEmptyButton:hover {
    background-color: #0056b3;
}
