body {
	margin-top: 60px !important;
}

h1 {
	font-size: 36px;
	text-align: center;
	border-bottom-width: 5px;
	border-bottom: solid;
}

a {
	display: inline-block;
}

a.link {
	font-size: 32px;
	margin: 24px;
}

a.link:hover {
	font-size: 42px;
	color: orange;
}

.page {
	margin: 5px;
}

.page:hover {
	font-size: 16px;
	margin: 1px;
}

.login {
	text-align: right !important;
}