/* Style for dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    color: black;
    padding: 8px 0;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ccc;
}

.dropdown-content a:last-child {
    border-bottom: none; /* Remove border bottom for the last item */
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#achievementContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
}

#achievementDropdown {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}