h1 {
    font-family: 'Jersey 20';
    font-size: '48px';
}

h2 {
    font-family: 'Montserrat';
}

button {
    font-family: 'Anton';
}

.popup_screen_text {
    font-family: 'Exo';
}

.popup_screen_text_headers {
    font-weight: bold;
}

/* Loading screen styles */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    /* Ensure the loading screen is on top */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    /* Smooth transition for opacity */
}

.loading-bar {
    width: 80%;
    max-width: 400px;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    width: 0%;
    height: 20px;
    background-color: #4caf50;
    transition: width 2s ease;
    /* Smooth transition for width */
}

/* GIF container styles */
.gif-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    /* Ensure the GIF container is below the loading screen */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    /* Semi-transparent background */
}

/* Hide the GIF container initially */
.hidden {
    display: none;
}

/* Start screen styles (I called it "option-screen" to generalize it more). */
.option-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 24px;
}

.option-screen button {
    padding: 10px 20px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    width: 30%;
}

.option-screen button:hover {
    background-color: #357337;
}

.game-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px; /* Adjust the radius as needed */
    background: linear-gradient(to bottom, #f7d079, #fbb040); /* Example gradient */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values for the desired effect */
    transition: all 0.3s ease-in-out; /* Example transition */

}

.game-screen button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.game-screen button:hover {
    background-color: #777; /* Lighter gray hover background color */
}

#popup_screens {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center pop-up screens horizontally */
}

.addMinusButtonsWithNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Ensure buttons and number are on the same line */
    margin-top: 10px;
}

.addMinusButtonsWithNumber button {
    margin: 10px;
    padding: 10px;
    width: 40px;
}

#fullscreen-button {
    position: absolute;
    top: 25px;
    right: 0px;
    z-index: 999; /* Ensure the button is above other elements */
    cursor: pointer;
}

#skipButtons {
    font-family:'Exo'; 
    position: absolute; 
    bottom: 0;
}

#skipButtons button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#skipButtons button:hover {
    background-color: darkred; /* Lighter gray hover background color */
}